<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%5level)]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>hmagen.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STATFILE" class="ch.qos.logback.core.FileAppender">
        <file>statistics.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="hmagen.statistics">
        <appender-ref ref="STATFILE" />
    </logger>
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
